/* Eric Meyer's CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section { display: block }
body { line-height: 1 }
ol,
ul { list-style: none }
blockquote,
q { quotes: none }
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */
html { height: 100% }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary { display: block }
body {
    margin:0;
    background:#fff;
    font: 12px/18px 'Open Sans',Arial, sans-serif;
    width: 100%;
    height: 100%;
    counter-reset: block;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block }
/* start commented backslash hack \*/
* html .clearfix { height: 1% }
.clearfix { display: block }
/* close commented backslash hack */
.wrapper {
    width: 980px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
/* Header
-----------------------------------------------------------------------------*/
header { position: relative }
.header {
    margin: 0 auto;
    width: 980px;
}
.top-header-border {
    height: 8px;
    width: 100%;
    background: #ff6600;
}
/*header-slider-container*/
.header-slider-container {
    position: relative;
    background: url("../img/bg.png") no-repeat center center;
    width: 100%;
    height: 347px;
    background-size: cover;
}
.head-margin {
    margin: 83px 0 0 0;
}
.top-header {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0 0 0;
}
.header-logo,
.header-partner-block,
.tel-moscaw,
.tel-spb {
    display: table-cell;
    vertical-align: top;
}
.tel-moscaw,
.tel-spb,
.header-partner-block { padding: 18px 0 0 40px }
.tel-moscaw,
.tel-spb { text-align: right }
.tel-moscaw p,
.tel-spb p {
    font: 12px 'Open Sans',Arial,sans-serif;
    color: #515151;
}
.tel-moscaw a,
.tel-spb a {
    font: 700 18px 'Open Sans',Arial,sans-serif;
    color: #515151;
    text-decoration: none;
}
/*header menu*/
.header-bottom { margin: 24px 0 20px 0 }
.header-nav{
    width: 100%;
    display: table;
}
.nav {
    display: table-row;
}
.nav li {
    display: table-cell;
    float: none;
}
.nav li a {
    display: block;
    position: relative;
    padding: 8px 0 12px 0;
    background: #ff8800;
    font: 15px/1.2 'Open Sans',Arial,sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*height: 52px;*/
    width: 243px;
}
.nav li a:before {
    background: url("../img/point.png") no-repeat center center;
    height: 18px;
    width: 16px;
    content: counter(test, decimal) "";
    counter-increment: test;
    left: -9px;
    top: 34%;
    position: absolute;
    text-indent: -9999px;
    z-index: 1;
}
.nav li:first-child a:before { display: none }
.nav a:hover, .nav .active {
    background: #a89284;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.nav li:nth-last-of-type(3) a {
    padding: 17px 0 21px 0;
    position: relative;
    top:9px;
}
/*header-ribbon*/
.header-ribbon {
    background: url("../img/ribbon.png") no-repeat center center;
    width: 824px;
    height: 84px;
    text-align: center;
    font: 22px 'Open Sans',Arial,sans-serif;
    color: #ffffff;
    position: absolute;
    top: 238px;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 45px;
    z-index: 1;
}
.header-ribbon span { font-weight: 700 }
/*slider style*/
.apply {
    width: 245px;
    height: 245px;
    border-radius: 4px;
    background: #f2f2f2;
    border: 4px solid #f4f4f4;
    margin: 55px 0 0 0;
    float: right;
    text-align: center;
    display: inline-block;
}
.apply h2 {
    font: 20px 'Open Sans',Arial,sans-serif;
    color: #333333;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 20px 18px 0 18px;
}
.apply p {
    font: 13px 'Open Sans',Arial,sans-serif;
    color: #333333;
}
.apply span {
    color: #ff7633;
    font-weight: 700;
}
.apply-btn {
    outline: none;
    border: none;
    margin: 20px 0 0 0;
    width: 204px;
    height: 53px;
    color: #f5f7f7;
    font: 700 18px 'Open Sans',Arial,sans-serif;
    text-shadow: 1px 1px 1px #e66b2e;
    cursor: pointer;
    background: #ff8933;
    background: -moz-linear-gradient(top, #ff8933 0%, #ff6633 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8933), color-stop(100%,#ff6633));
    background: -webkit-linear-gradient(top, #ff8933 0%,#ff6633 100%);
    background: -o-linear-gradient(top, #ff8933 0%,#ff6633 100%);
    background: -ms-linear-gradient(top, #ff8933 0%,#ff6633 100%);
    background: linear-gradient(to bottom, #ff8933 0%,#ff6633 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8933', endColorstr='#ff6633',GradientType=0 );
    -moz-box-shadow: 0 3px 0 0 #da5700;
    -webkit-box-shadow: 0 3px 0 0 #da5700;
    box-shadow: 0 3px 0 0 #da5700;
    border-radius: 4px;
}
.apply-btn:hover { background: #fd9243 }
.apply-btn:active {
    box-shadow: none;
    margin: 23px 0 0 0;
}
.slider-our-partners {
    /*text-align: center;*/
    margin: 0 auto 52px;
    width: 980px;
    position: relative;
}
.slider-wrap-partners > h3 {
    font: 700 16px 'Open Sans',Arial,sans-serif;
    color: #515151;
    margin: 30px 0 10px 0;
}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
    width: 100%;
    padding: 0 0 390px;
    position: relative;
}
.middle:after {
    display: table;
    clear: both;
    content: '';
}
.container {
    width: 100%;
    float: left;
    overflow: hidden;
}
.content { padding: 0 270px 0 0 }
.review-page-content { padding: 0 470px 0 0; margin: 0 0 80px 0}
.training-main-block {
    width: 735px;
    height: 390px;
    background: #f5f5f5;
    display: table;
    padding: 20px 0;
    border-radius: 5px;
    margin: 0 0 70px 0;
}
.training-block {
    display: inline-block;
    width: 221px;
    min-height: 390px;
    text-align: center;
    /*background: sandybrown;*/
    margin-right: 20px;
}
.training-block:last-child {
    margin-right:0;
}
.training-block:nth-last-of-type(1) {
    border-left: 1px solid #cfbbad;
}.training-block:nth-last-of-type(3) {
     border-right: 1px solid #cfbbad;
 }

.training-block h3 {
    font: 600 20px 'Open Sans',Arial,sans-serif;
    color: #ff6600;
    height: 70px;
    /*width: 206px;*/
    margin: 20px 0 0 0;
    padding: 0 8px;
}
.training-block p, .training-block > a  {
    font: 13px 'Open Sans',Arial,sans-serif;
    color: #333333;
    height: 90px;
    padding: 0 8px;
}
.training-block > a {
    -moz-text-decoration-line: underline !important;
    -moz-text-decoration-style: dashed !important;
}
.training-block a:hover { color: #ff6600 }
.training-block > p > a {
    color: #ff6600;
    text-decoration: underline;
}
.target-programm ul {
     /*list-style: decimal outside none;*/
     margin: 20px 50px 0 40px;
}
.target-programm li:after {
    color: #515151;
    content: counter(block, decimal) ".";
    counter-increment: block;
    font:700 18px 'Open Sans',Arial,sans-serif;
    position: absolute;
    left:-5px;
    top: -2px;
}
.target-programm li {
    position: relative;
    font: 700 15px 'Open Sans',Arial,sans-serif;
    color: #333333;
    padding: 0 0 0 20px;
    margin: 0 0 15px;
}
.target-programm li span {
    font: 13px 'Open Sans',Arial,sans-serif;
    color: #333333;
}
/*first page*/
.wrapper-events { /*text-align: center;_NO__DOTCOMMA__AFTER__*/ }
.content-events { margin: 20px 0 0 0 }
.content-events h1, .technique, .reviews-results, .vantage-text-block > h2, .application-text, .new-review, .review-page-title h1 {
    font: 600 30px 'Open Sans',Arial,sans-serif;
    color: #515151;
    text-align: center;
    margin: 0 0 30px 0;
}
.school-events {
    width: 100%;
    height: 486px;
    display: table;
}
.master-klass-block {
    width: 300px;
    min-height: 430px;
    display: inline-block;
    background: #f5f5f5;
    border-radius: 10px;
    border: 3px solid #ffffff;
    margin-right: 28px;
    text-align: center;
    vertical-align: top;
}
.master-klass-block h3 {
    font: 600 20px 'Open Sans',Arial,sans-serif;
    color: #ff6600;
    padding: 0 10px 0 20px;
    height: 100px;
}
.master-klass-block p {
    font: 13px 'Open Sans',Arial,sans-serif;
    color: #333333;
    height: 84px;
    padding: 0 15px 15px 15px;
}
.master-klass-block span { font-weight: 700 }
.master-klass-block  a,
.motivation-slider-text a {
    font: 13px 'Open Sans',Arial,sans-serif;
    color: #333333;
    -moz-text-decoration-line: underline !important;
    -moz-text-decoration-style: dashed !important;
}
.master-klass-block a:hover { color: #ff6600 }
/*events master class popup*/
.events-popup, .target-programm {
    width: 570px;
    height: 435px;
    display: none;
    background: #f5f5f5;
    border: 4px solid #fe7324;
    border-radius: 6px;
}
.target-programm {
    height: 370px;
}
.height-block-popup {
    height: 550px;
}
.middle-block-popup {
    height: 195px;
}
.events-popup h3, .target-programm h3 {
    font: 600 25px 'Open Sans',Arial,sans-serif;
    color: #ff6600;
    padding: 30px 0 0 35px;
}
.events-popup h4 {
    font: 700 15px 'Open Sans',Arial,sans-serif;
    color: #333333;
    padding: 20px 0 0 35px;
    text-transform: uppercase;
}
.events-popup p {
    font: 13px 'Open Sans',Arial,sans-serif;
    color: #333333;
    padding: 20px 45px 0 35px;
}
.events-popup p span {
    font: 700 15px/1.2 'Open Sans',Arial,sans-serif;
    color: #333333;
}
span.first-block {
    color: #ff6600 !important;
    font-size: 13px!important;
    text-transform: uppercase;
    font-weight: normal !important;
}
span.size {
    font-size: 13px!important;
}
.events-popup ul li {
    position: relative;
    font: 13px 'Open Sans',Arial,sans-serif;
    color: #333333;
    line-height: 1.5;
    padding: 10px 38px 0 70px;
}
.events-popup ul li:before {
    position: absolute;
    display: block;
    content: "";
    top: 13px;
    left: 43px;
    background: url("../img/okk.png") no-repeat center center;
    width: 14px;
    height: 14px;
}
.participation_block {
    margin: 10px auto;
    display: inline-block;
    vertical-align: top;
    width: 42%;
    border-right: 1px solid #e2d8d1;
}
.participation_block:last-child {
    border: none;
}
.text-left {
    font: 15px 'Open Sans',Arial,sans-serif;
    color: #515151;
    padding: 15px 20px 0 35px;
}
.text-left a {
    color: #ff6600;
    text-decoration: underline !important;
    font-weight: 700;
}
.text-right {
    font: 15px 'Open Sans',Arial,sans-serif;
    color: #515151;
    padding: 15px 0 0 20px;
}
.text-right span {
    font: 600 25px 'Open Sans',Arial,sans-serif;
    color: #515151;
}
.master-klass-block:hover { border: 3px solid #ff6600 }
.master-klass-block:last-child { margin-right: 0 }
.img-events-block img {
    display: block;
    width: 300px;
    height: 200px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.img-events-block {
    position: relative;
    width: 300px;
    height: 200px;
}
.img-events-block:after {
    content: "";
    position: absolute;
    left: 0;
    /*right: 0;*/
    bottom: 0;
    width: 300px;
    height: 60px;
    background-position: cover;
    background: url("../img/img-hover.png") no-repeat center center;
    z-index: 1;
}
/*calendar-slider-events*/
.calendar-slider-events {
    height: 131px;
    margin: 0 0 80px 0;
    position: relative;
}
/*slider partner*/
.slider1 {
    background: url("../img/mii.png") no-repeat center center;
    display: block;
    width: 150px;
    height: 100px;
    cursor: pointer;
}
.slider1:hover { background: url("../img/mii-active.png") no-repeat center center }
.slider2 {
    background: url("../img/1830.png") no-repeat center center;
    display: block;
    width: 150px;
    height: 100px;
    cursor: pointer;
}
.slider2:hover { background: url("../img/1830-active.png") no-repeat center center }
.slider3 {
    background: url("../img/1755.png") no-repeat center center;
    display: block;
    width: 150px;
    height: 100px;
    cursor: pointer;
}
.slider3:hover { background: url("../img/1755-active.png") no-repeat center center }
.slider4 {
    background: url("../img/misis.png") no-repeat center center;
    display: block;
    width: 150px;
    height: 100px;
    cursor: pointer;
}
.slider4:hover { background: url("../img/misis-active.png") no-repeat center center }
.slider5 {
    background: url("../img/rnimu.png") no-repeat center center;
    display: block;
    width: 150px;
    height: 100px;
    cursor: pointer;
}
.slider5:hover { background: url("../img/rnimu-active.png") no-repeat center center }
.slider6 {
    background: url("../img/mgimo.png") no-repeat center center;
    display: block;
    width: 150px;
    height: 100px;
    cursor: pointer;
}
.slider6:hover { background: url("../img/mgimo-active.png") no-repeat center center }
.slider-calendar {
    background: #f5f5f5;
    border-radius: 5px;
    height: 120px;
    margin: 0 0 50px 0;
    width: 735px;
}
.text-block {
    position: relative;
    background: #f5f5f5;
    border-radius: 5px;
}
.rst {
    width: 100px;
    height: 120px;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
}
.rst > p {
    font: 700 11px 'Open Sans',Arial,sans-serif;
    color: #515151;
    padding: 40px 0 0 10px;
}
.events-calendar {
    background: url("../img/events-calendar-bg.png") no-repeat center center;
    width: 134px;
    height: 105px;
}
.events-calendar > h4 {
    font: 600 13px 'Open Sans',Arial,sans-serif;
    color: #ff6600;
    height: 58px;
    padding: 5px 0 0 10px;
}
.events-calendar > p {
    font: 11px 'Open Sans',Arial,sans-serif;
    color: #666666;
    padding: 0 0 0 10px;
}
#owl-demo .item {
    background: #3fbf79;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
.customNavigation { text-align: center }
.customNavigation a {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.owl-pagination { display: none }
.prev {
    background: url("../img/left-arrow.png") no-repeat center center;
    width: 22px;
    height: 22px;
    display: block;
    text-indent: -9999px;
    cursor: pointer;
    position: absolute;
    top: 103px;
}
.prev:hover { background: url("../img/left-arrow-active.png") no-repeat center center }
.next {
    background: url("../img/right-arrrow.png") no-repeat center center;
    width: 22px;
    height: 22px;
    display: block;
    text-indent: -9999px;
    cursor: pointer;
    position: absolute;
    top: 103px;
    right: 0;
}
.next:hover { background: url("../img/right-arrrow-active.png") no-repeat center center }
/*Page2 styles*/
.technique {
    margin: 30px 0 25px 0;
}
.technique-block {
    margin: 0 auto;
    width: 1000px;
    height: 154px;
    background: #f5f5f5;
    border-radius: 5px;
}
.technique-list {
    margin: 20px auto;
    width: 1000px;
}
.technique-list-text { margin: 37px 0 20px 0 }
.technique-list-block {
    display: table;
    border-bottom: 1px solid #e2d8d1;
}
.technique-list-block:nth-of-type(3) { border-bottom: none }
.technique-list-block:nth-of-type(4) { border-bottom: none }
.technique-img {
    width: 200px;
    height: 200px;
    display: table-cell;
    vertical-align: top;
    padding: 20px 30px 0 30px;
}
.block-bottom {
    height: 86px;
    width: 900px;
    margin: 20px 0 70px 0;
    background: #f5f5f5;
    border-radius: 5px;
    display: table;
    text-align: center;
}
.block-bottom-img {
    width: 48px;
    height: 52px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 30px 0 110px;
}
.block-bottom-text {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.block-bottom-text  > h3 {
    font: 600 25px 'Open Sans',Arial,sans-serif;
    color: #515151;
}
.block-bottom-text > h3 > span {
    color: #ff6600;
    text-transform: uppercase;
}
.technique-list-text > h3 {
    font: 600 20px 'Open Sans',Arial,sans-serif;
    color: #ff6600;
    text-transform: uppercase;
    height: 45px;
}
.technique-list-text  ul {
    list-style: decimal;
    font-weight: 700;
    font-size: 18px;
    padding: 0 0 0 22px;
    color: #515151;
}
.technique-list-text  li {
    margin-bottom: 10px;
}
.technique-list-text  ul  li  span {
    font: 14px 'Open Sans',Arial,sans-serif;
    color: #333333;
}
/*Page3 style*/
.reviews-results {
    margin: 20px 0 30px 0;
}
.technique-block { text-align: center }
.technique-block > h2 {
    font: 18px/1.2 'Open Sans',Arial,sans-serif;
    color: #515151;
    display: inline-block;
    margin: 20px 0 20px 0;
}
.technique-block > h2 > span {
    color: #ff6600;
    text-transform: uppercase;
    font-weight: 700;
}
.technique-block > p {
    font: 14px/1.2 'Open Sans',Arial,sans-serif;
    color: #515151;
}
.technique-block > p > span { font-weight: 700 }
.reviews-info-block {
    margin: 30px auto;
    width: 900px;
    height: 131px;
    background: #f5f5f5;
    border-radius: 5px;
    text-align: center;
}
.reviews-info-block > h2 {
    padding: 20px 0 0 0;
    font: 18px 'Open Sans',Arial,sans-serif;
    color: #515151;
}
.reviews-info-block >h2 > span {
    font: 700 20px 'Open Sans',Arial,sans-serif;
    color: #ff6600;
}
.reviews-info-block > p {
    font: 14px 'Open Sans',Arial,sans-serif;
    color: #515151;
    padding: 10px 40px 0 40px;
}
.reviewed {
    margin: 30px auto;
    width: 900px;
    height: 200px;
}
.reviewed > h3 {
    font: 700 16px 'Open Sans',Arial,sans-serif;
    color: #515151;
    height: 50px;
}
.review-icon {
    width: 140px;
    height: 180px;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    font: 700 12px 'Open Sans',Arial,sans-serif;
    color: #515151;
}
.review-content {
    position: relative;
    background: #fff;
    border: 1px solid #cfbbad;
    width: 739px;
    height: 116px;
    border-radius: 5px;
    display: inline-block;
    float: right;
}
.review-content:after,
.review-content:before {
    right: 100%;
    top: 40%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.review-content:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 10px;
    margin-top: -31px;
}
.review-content:before {
    border-color: rgba(207, 187, 173, 0);
    border-right-color: #cfbbad;
    border-width: 12px;
    margin-top: -33px;
}
.review-content > p {
    font: italic 14px 'Open Sans',Arial,sans-serif;
    color: #515151;
    padding: 26px 50px 0 40px;
}
/*PAGE4 style*/
.vantage { margin-bottom: 80px }
.partners-block {
    margin: 0 auto;
    width: 980px;
    height: 340px;
    background: #f5f5f5;
    border-radius: 5px;
}
.partners-text-block { text-align: center }
.partners-text-block > h2 {
    font: 20px/1.2 'Open Sans',Arial,sans-serif;
    color: #ff6600;
    padding: 20px 0 20px 0;
}
.partners-text-block > p {
    font: 14px 'Open Sans',Arial,sans-serif;
    color: #515151;
    padding: 0 0 15px 0;
}
.partners-block-bottom {
    width: 100%;
    display: table;
}
.partners-block1 {
    background: url("../img/partners-bg.png") no-repeat center center;
    width: 187px;
    height: 180px;
    font: 600 18px 'Open Sans',Arial,sans-serif;
    color: #ff6600;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid #e2d8d1;
}
.partners-block1:last-child { border-right: none }
.partners-block1 > p { padding: 0 43px 0 43px; line-height: 1.3 }
.vantage-info-block {
    display: table;
    width: 100%;
    margin: 30px 0 0 0;
}
.vantage-text-block > h2 {
    margin: 40px 0 0 0;
}
.info-block {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 176px;
    height: 140px;
    border-radius: 10px;
    background: #f9f9f9;
    margin-right: 22px;
    background: -moz-linear-gradient(top, #f9f9f9 0%, #e2e2e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e2e2e2));
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#e2e2e2 100%);
    background: -o-linear-gradient(top, #f9f9f9 0%,#e2e2e2 100%);
    background: -ms-linear-gradient(top, #f9f9f9 0%,#e2e2e2 100%);
    background: linear-gradient(to bottom, #f9f9f9 0%,#e2e2e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e2e2e2',GradientType=0 );
}
.info-block  > p {
    font: 13px 'Open Sans',Arial,sans-serif;
    color: #333333;
    padding: 10px 20px 0 20px;
    text-align: left;
}
.info-block:last-child > p { padding: 10px 35px 0 20px }
.info-block span { font-weight: 700 }
.info-block:last-child { margin-right: 0 }
.info-block:after {
    counter-increment: block;
    content: counter(block) "";
    position: absolute;
    font: 600 80px 'Open Sans',Arial,sans-serif;
    right: -20px;
    top: -28px;
    color: #ff6600;
}
.info-block:before {
    content: "";
    position: absolute;
    width: 98px;
    height: 65px;
    left:151px;
    top: -30px;
    z-index: 1;
    background: -moz-linear-gradient(top, #ffffff 0%, #e2e2e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e2e2e2));
    background: -webkit-linear-gradient(top, #ffffff 0%,#e2e2e2 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#e2e2e2 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#e2e2e2 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#e2e2e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 );
    opacity: 0.1;
}
.info-block span { font-weight: 700 }
/*new page review*/
.new-review,
.application-text {
    margin: 0 auto;
    width: 980px;
    text-align: center;
    margin: 30px 0 40px 25px;
}
.left-side-text {
    text-align: left;
}
.motivation {
    position: relative;
    margin: 0 auto;
    background: url("../img/motivation-gb.png") no-repeat center center;
    height: 230px;
    background-size: cover;
    border-radius: 5px;
    padding: 20px 20px 20px 40px;
    overflow: hidden;
}
.motivation-slider-text {
    float: left;
    width: 735px;
    height: 230px;
}
.motivation-slider-text > h2 {
    font: 600 30px 'Open Sans',Arial,sans-serif;
    color: #ffffff;
    margin: 15px 0 0 0;
    line-height: 1.2;
    text-align: left;
}
.motivation-slider-text span {
    position: absolute;
    bottom: 6px;
    right: 259px;
    font: 600 14px 'Open Sans',Arial,sans-serif;
    color: #ffffff;
    text-align: right;
    line-height: 1.2;
}
.motivation-slider-text p {
    position: relative;
    font: italic 600 20px 'Open Sans',Arial,sans-serif;
    color: #ffec92;
    padding: 40px 40px 0 40px;
    line-height: 1.2;
}
.motivation-slider-text p:before {
    position: absolute;
    top: 40px;
    left: 0;
    content: " ";
    background: url("../img/big_quotes.png") no-repeat center center;
    width: 24px;
    height: 23px;
}
.motivation-slider-text p:last-child:before {
    display: none;
}
.motivation-slider-text a {
    color: #ffffff;
    position: absolute;
    left: 50px;
    bottom: 10px;
}
p.slider-link {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    padding:0;
    position: absolute;
    left: 39px;
    bottom: 10px;
}
.motivation-slider-text a:hover { color: #ffec92 }
.motivation-apply {
    margin: 0;
    width: 350px;
    height: 221px;
    border: 4px solid #f5f5f5;
}
.motivation-apply h2 { margin: 20px 0 0 0 }
.border {
    border: 1px solid #d5d5d5;
    height: 219px;
}
.motivation-slider-image {
    background: url("../img/image-slider-frame.png") no-repeat center center;
    width: 187px;
    height: 177px;
    overflow: hidden;
    position: relative;
}
.slider-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 0;
    margin: auto;
}
.motivation-info-block {
    margin: 60px auto 50px;
    width: 980px;
    height: 230px;
}
.left-info-block {
    height: 230px;
    width: 590px;
    background: #f5f5f5;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    float: left;
}
.left-info-block h2 {
    font: 600 20px/1.2 'Open Sans',Arial,sans-serif;
    color: #515151;
    padding: 30px 50px 20px;
}
.left-info-block span {
    color: #ff6600;
    text-transform: uppercase;
    font-weight: 700;
}
.left-info-block p {
    font: 14px 'Open Sans',Arial,sans-serif;
    color: #515151;
    padding: 0 40px;
}
.motivation-review {
    margin: 40px auto 70px;
    width: 980px;
}
.motivation-review h3 {
    font: 700 16px 'Open Sans',Arial,sans-serif;
    color: #515151;
    margin: 0 0 20px 0;
}
.motivation-review-imgg {
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    border-radius: 6px;
    margin: 0 36px 0 0;
    height: 138px;
    width: 100px;
}
.motivation-review-imgg img {
    height: 100%;
    width: 100%;
    border-radius: 3px;
}
.test-popup {
    background: white;
    display: none;
    width: 300px;
}
.motivation-review-imgg:last-child { margin: 0 }
.motivation-review-imgg:hover { border-color: #fe7324 }
.motivation-review-imgg:hover:before {
    content: "";
    display: block;
    position: absolute;
    top: 53px;
    left: 34px;
    background: url("../img/steklo.png") no-repeat center center;
    width: 33px;
    height: 34px;
    cursor: pointer;
}
/*application-form-page*/
.wrapper-application-form {
    position: relative;
    width: 726px;
    height: 460px;
    background: #f5f5f5;
    border-radius: 5px;
    margin: 0 0 70px 0;
}
.main-form {
    text-align: right;
    margin: 30px 70px 20px 0;
}
.fieldss { margin: 0 0 10px }
.error {
    margin-right: 317px;
    color: #e17272;
    font: 12px 'Open Sans',Arial,sans-serif;
    height: 20px;
    display: none;
}
.small-error { margin-right: 10px }
.test {
    position: relative;
    display: inline-block;
    height: 63px;
}
.test-lable {
    display: inline-block;
    height: 45px;
    line-height: 46px;
    vertical-align: top;
}
.test22 {
    display: inline-block;
    margin: 0 0 0 25px;
}
.test:last-child { margin: 0 }
.big-field-input {
    outline: none;
    border: none;
    border: 1px solid #cccccc;
    height: 43px;
    width: 492px;
    background: #ffffff;
    padding: 0 0 0 10px;
    font: 18px 'Open Sans',Arial,sans-serif;
    color: #333333;
}
.small-field-input {
    outline: none;
    border: none;
    border: 1px solid #cccccc;
    width: 180px;
    height: 43px;
    background: #ffffff;
    padding: 0 0 0 10px;
    font: 18px 'Open Sans',Arial,sans-serif;
    color: #333333;
}
.lable-style-text {
    font: 700 14px 'Open Sans',Arial,sans-serif;
    color: #666666;
    margin-right: 10px;
}
.legend {
    font: 12px 'Open Sans',Arial,sans-serif;
    color: #999999;
    padding: 20px 0 0 20px;
}
.legend span {
    font: 700 13px 'Open Sans',Arial,sans-serif;
    color: #666666;
}
::-webkit-input-placeholder {
    color: #999999;
    font: 18px 'Open Sans',Arial,sans-serif;
    line-height: 40px;
}
::-moz-placeholder {
    color: #999999;
    font: 18px 'Open Sans',Arial,sans-serif;
    line-height: 40px;
} /* Firefox 19+ */
:-moz-placeholder {
    color: #999999;
    font: 18px 'Open Sans',Arial,sans-serif;
    line-height: 40px;
} /* Firefox 18- */
:-ms-input-placeholder {
    color: #999999;
    font: 18px 'Open Sans',Arial,sans-serif;
    line-height: 40px;
}
:focus::-webkit-input-placeholder { color: transparent }
:focus::-moz-placeholder { color: transparent }
:focus:-moz-placeholder { color: transparent }
:focus:-ms-input-placeholder { color: transparent }
.form-btn {
    bottom: 28px;
    left: 152px;
    position: absolute;
}
/*REVIEW-PAGE STYLES*/
.review-page-wrap {
    width: 100%;
    position: relative;
    background: #ccc;
}
.review-page-breadcrumbs-wrap {
    margin: 0 auto;
    width: 980px;
   /* height: 40px;*/
    /*background: #ccc;*/
}
.review-page-breadcrumbs a:before {
    content: "/";
    font: 12px 'Open Sans',Arial,sans-serif;
    color: #515151;
    display: inline-block;
    padding: 0 8px 0 8px;
}
.review-page-breadcrumbs a:first-child:before {
    display: none;
}
.review-page-breadcrumbs a {
    position: relative;
   font: 12px 'Open Sans',Arial,sans-serif;
   color: #515151;
   text-decoration: underline !important;
}
.reviews {
    /*background: #ddd;*/
    width: 470px;
   /* height: 153px;*/
    margin: 0 0 30px 0;
}
.review-vatars {
    width: 105px;
    /*height: 180px;*/
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font: 700 12px 'Open Sans',Arial,sans-serif;
    color: #515151;
    margin: 0 15px 0 0;
}
.right-side {
    margin: 0 0 0 15px;
}
.reviews-content {
    position: relative;
    background: #f5f5f5;
    border: 1px solid #cfbbad;
    width: 345px;
    /*height: 150px;*/
    border-radius: 5px;
    display: inline-block;
    /*float: right;*/
}
.reviews-content p:before {
    content: "";
    width: 14px;
    height: 14px;
    background: url("../img/small_quotes.png") no-repeat left top;
    display: inline-block;
    position: absolute;
    left: 14px;
    top: 25px;
}
.reviews-content p {
    margin: 0 auto;
    font: italic 13px/1.5 'Open Sans',Arial,sans-serif;
    color: #333333;
    padding: 20px 0 20px 0;
    width: 270px;
    border-bottom: 1px solid #cfbbad;
}
.reviews-content p:last-child {
    border-bottom: none;
}
.reviews-content p:nth-of-type(1) {
    padding: 20px 0 10px 0;
}
.reviews-content p:nth-of-type(2) {
    padding: 10px 0 10px 0;
}
.reviews-content:after,
.reviews-content:before {
    right: 100%;
    top: 60px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.reviews-content:after {
    border-color: rgba(207, 187, 173, 0);
    border-right-color: #f5f5f5;
    border-width: 10px;
    margin-top: -37px;
}
.reviews-content:before {
    border-color: rgba(207, 187, 173, 0);
    border-right-color: #cfbbad;
    border-width: 12px;
    margin-top: -39px;
}


.reviews-content-right {
    position: relative;
    background: #f5f5f5;
    border: 1px solid #cfbbad;
    width: 345px;
    /*height: 150px;*/
    border-radius: 5px;
    display: inline-block;
    /*float: right;*/
}
.reviews-content-right:after,
.reviews-content-right:before {
    left: 100%;
    top: 60px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.reviews-content-right:after {
    border-color: rgba(207, 187, 173, 0);
    border-left-color: #f5f5f5;
    border-width: 10px;
    margin-top: -37px;
}
.reviews-content-right:before {
    border-color: rgba(207, 187, 173, 0);
    border-left-color: #cfbbad;
    border-width: 12px;
    margin-top: -39px;
}
/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
    float: left;
    width: 210px;
    margin-left: -210px;
    position: relative;
}
.right-sidebar-width {
    width: 210px;
    margin-left: -220px;
}
.review-right-sidebar {
    width: 470px;
    margin-left: -470px;
}
.school-participants,
.school-participants-width {
    position: relative;
    border: 1px solid #cfbbad;
    border-radius: 5px;
    padding: 20px 0 15px 0;
    height: 422px;
}
.school-participants p,
.school-participants-width p {
    position: absolute;
    top: -24px;
    left: 11px;
    background: #ffffff;
    font: 700 16px 'Open Sans',Arial,sans-serif;
    color: #515151;
    text-align: center;
    padding: 0 20px 0 20px;
}

.schools-block { display: table }
.schools,
.schools-lable {
    display: table-cell;
    vertical-align: middle;
}
.schools {
    background: url("../img/535.png") no-repeat center center;
    width: 55px;
    height: 61px;
    cursor: pointer;
    padding: 30px 20px 20px 25px;
}
.schools:hover { background: url("../img/535-active.png") no-repeat center center }
.schools2 {
    background: url("../img/937.png") no-repeat center center;
    width: 56px;
    height: 63px;
    cursor: pointer;
    padding: 0 20px 20px 25px;
}
.schools2:hover { background: url("../img/937-active.png") no-repeat center center }
.schools3 {
    background: url("../img/1298.png") no-repeat center center;
    width: 68px;
    height: 59px;
    cursor: pointer;
    padding: 0 18px 20px 18px;
}
.schools3:hover { background: url("../img/1298-active.png") no-repeat center center }
.schools4 {
    background: url("../img/1564.png") no-repeat center center;
    width: 66px;
    height: 42px;
    cursor: pointer;
    padding: 0 20px 20px 20px;
}
.schools4:hover { background: url("../img/1564-active.png") no-repeat center center }
.schools5 {
    background: url("../img/sosh535.png") no-repeat center center;
    width: 66px;
    height: 60px;
    cursor: pointer;
    padding: 0 20px 20px 20px;
}
.schools5:hover { background: url("../img/sosh535-active.png") no-repeat center center }
/* Footer
-----------------------------------------------------------------------------*/
.cl:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
    line-height: 0;
}
.footer_wrap {
    width: 100%;
    height: 390px;
    margin: -390px auto 0;
    background-color: #434343;
    position: relative;
}
.footer {
    height: 390px;
    background: #ccc;
    margin: 0 auto;
    width: 1000px;
}
.footer_middle {
    margin: 0 auto;
    width: 1000px;
    height: 375px;
}
.footer1 {
    padding-top: 35px;
    padding-bottom: 0;
    width: 1000px;
    border-bottom: 1px solid #000;
}
.foot_block1 {
    float: left;
    margin-right: 220px;
    width: 173px;
    height: 115px;
}
.foot_block1 > p,
.foot_block2 > p,
.foot_block3 > p,
.foot_block4 > span,
.foot_block5 > span {
    display: inline-block;
    margin-bottom: 15px;
    color: #fff;
    font: 700 14px 'Open Sans',Arial,sans-serif;
}
.foot_block1 .foot_soc {
    float: left;
    margin: 5px 5px 0 0;
    width: 48px;
    height: 50px;
    background: url("../img/soc_block_sprites.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.foot_block1 .foot_soc.vk { background-position: 0 0 }
.foot_block1 .foot_soc.vk:hover { background-position: 0 -60px }
.foot_block1 .foot_soc.facebook { background-position: -47px 0 }
.foot_block1 .foot_soc.facebook:hover { background-position: -47px -60px }
.foot_block1 .foot_soc.twitter { background-position: -95px 0 }
.foot_block1 .foot_soc.twitter:hover { background-position: -95px -60px }
.foot_block2 {
    float: left;
    margin-right: 133px;
    width: 315px;
    height: 115px;
}
.foot_block1 > p,
.foot_block2 > p,
.foot_block3 > p,
.foot_block4 > span,
.foot_block5 > span {
    display: inline-block;
    margin-bottom: 15px;
    color: #fff;
    font: 700 14px 'Open Sans',Arial,sans-serif;
}
.foot_block2 > ul > li,
.foot_block2 > ul > li > a,
.foot_block3 > ul > li > a {
    color: #ccc;
    font: 12px 'Open Sans',Arial,sans-serif;
}
.foot_block2 > ul > li,
.foot_block3 > ul > li {
    float: left;
    padding-right: 15px;
    padding-bottom: 5px;
}
a:link,
a:visited,
ins { text-decoration: none }
.foot_block2 > ul > li > a:hover,
.foot_block3 > ul > li > a:hover {
    color: #fff;
    text-decoration: none;
}
.foot_block2 .online_courses { visibility: hidden }
.foot_block3 {
    float: left;
    width: 155px;
    height: 115px;
}
.foot_block1 > p,
.foot_block2 > p,
.foot_block3 > p,
.foot_block4 > span,
.foot_block5 > span {
    display: inline-block;
    margin-bottom: 15px;
    color: #fff;
    font: 700 14px 'Open Sans',Arial,sans-serif;
}
.foot_block2 > ul > li,
.foot_block3 > ul > li {
    float: left;
    padding-right: 15px;
    padding-bottom: 5px;
}
.foot_block3 li { width: 60px }
.footer2 {
    padding-top: 30px;
    width: 1000px;
}
.foot_block4 {
    float: left;
    width: 333px;
    height: 165px;
    margin-right: 58px;
}
.foot_block1 > p,
.foot_block2 > p,
.foot_block3 > p,
.foot_block4 > span,
.foot_block5 > span {
    display: inline-block;
    margin-bottom: 15px;
    color: #fff;
    font: 700 14px 'Open Sans',Arial,sans-serif;
}
.foot_block4 > ul > li.app {
    margin-bottom: 15px;
    width: 155px;
    background: url("../img/mobile_icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.foot_block4 > ul > li.app:hover { background: url("../img/mobile_icons.png") no-repeat scroll 0 -56px rgba(0, 0, 0, 0) }
.foot_block4 > ul > li > a {
    display: block;
    margin-left: 32px;
    width: 110px;
    color: #ff9600;
    font: 10px 'Open Sans',Arial,sans-serif;
}
.foot_block4 > ul > li span {
    color: #999;
    font: 10px 'Open Sans',Arial,sans-serif;
}
.foot_block4 > ul > li:hover span { color: #ff9600 !important }
.foot_block4 > ul > li span > em { font: bold 13px 'Open Sans',Arial,sans-serif }
.foot_block4 > ul > li.android {
    margin-bottom: 25px;
    width: 155px;
    background: url("../img/mobile_icons.png") no-repeat scroll 0 -107px rgba(0, 0, 0, 0);
}
.foot_block4 > ul > li.android:hover { background: url("../img/mobile_icons.png") no-repeat scroll 0 -160px rgba(0, 0, 0, 0) }
.foot_block4 > ul > li > a {
    display: block;
    margin-left: 32px;
    width: 110px;
    color: #ff9600;
    font: 10px 'Open Sans',Arial,sans-serif;
}
.foot_block4 > ul > li span {
    color: #999;
    font: 10px 'Open Sans',Arial,sans-serif;
}
.foot_block4 > ul > li span > em { font: bold 13px 'Open Sans',sans-serif }
.foot_block4 > p { color: #ccc }
.foot_block5 {
    float: left;
    margin-right: 15px;
    width: 440px;
    height: 184px;
}
.foot_block1 > p,
.foot_block2 > p,
.foot_block3 > p,
.foot_block4 > span,
.foot_block5 > span {
    display: inline-block;
    margin-bottom: 15px;
    color: #fff;
    font: bold 14px 'Open Sans',Arial,sans-serif;
}
.foot_block5 > p {
    color: #ccc;
    font: 12px 'Open Sans',Arial,sans-serif;
}
.foot_block5  span { font-weight: 700 }
.foot_block6 {
    float: left;
    padding: 43px 0 37px;
    width: 130px;
    background: url("../img/top_foot_sprite.png") no-repeat scroll 5px 0 rgba(0, 0, 0, 0);
    text-align: center;
}
.foot_block6 a {
    color: #fff;
    font: bold 14px 'Open Sans',Arial,sans-serif;
}
.foot_block6 a:hover {
    color: #ff9600;
    text-decoration: none;
    font: bold 14px 'Open Sans',Arial,sans-serif;
}
.fixed_buttom_bg {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 7px;
    background: none repeat scroll 0 0 #f60;
}
#online_chat_button { cursor: pointer }
.fixed_buttom_block {
    position: fixed;
    right: 10%;
    bottom: 0;
    z-index: 10;
    width: 313px;
    height: 40px;
    background: url("../img/fixed_buttom_block_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}