/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,
h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,
code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,
sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,
legend,table,caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display:block;
}

body {
    line-height:1;
}

ol,
ul {
    list-style:none;
}

blockquote,
q {
    quotes:none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content:'';
    content:none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/*main styles*/

@font-face {
    font-family: 'SegoePrint';
    src: url('../fonts/SegoePrint.eot?') format('eot'),
    url('../fonts/SegoePrint.woff') format('woff'),
    url('../fonts/SegoePrint.ttf')  format('truetype'),
    url('../fonts/SegoePrint.svg#SegoePrint') format('svg');
}

body {
    background: none repeat scroll 0 0 #fff;
    color: #666;
    font: 12px/18px 'Open Sans',Arial,sans-serif;
    min-width: 1000px;
    counter-reset: block;
}
html, body {
  height: 100%;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

#wrapper {
    width: 100%;
    min-height: 100%;
    /*margin-bottom: -51px;*/
}
#wrapper:after {
  content: "";
  display: block;
}
.top-border {
    height: 8px;
    width: 100%;
    background: #ff6600;
}
.header {
    margin: 0 auto;
    width: 1000px;
    height: 235px;
}
.top-header {
    display: table;
    margin: 30px 0 20px 0;
    width: 100%;
    border-collapse: collapse;
    border: none;
}
.logo, .prep-partner, .moscow-tel, .spb-tel {
    display:table-cell;
    vertical-align: middle;
}

.logo {
    width: 251px;
    height: 74px;
}
.prep-partner {
    /*color: #515151;*/
    /*font: 14px 'SegoePrint',Arial,sans-serif;*/
    /*font-weight: bold;*/
    /*text-align: center;*/
    padding: 15px 0 0 40px;
}
.moscow-tel, .spb-tel {
    text-align: right;
}
.moscow-tel p {
    font: 12px 'Open Sans',Arial,sans-serif;
    color: #515151;
}
.spb-tel p {
    font: 12px 'Open Sans',Arial,sans-serif;
    color: #515151;
}
.moscow-tel a, .spb-tel a {
    font: 18px 'Open Sans',Arial,sans-serif;
    color: #515151;
    font-weight: 700;
    text-decoration: none;
}

/*header menu*/
.nav {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border: none;
}
.nav ul {
    display: table-row;
}
.nav li a {
    font: 15px 'Open Sans',Arial,sans-serif;
    color: #ffffff;
    text-decoration: none;
}
.nav li:before {
    background: url("../img/point.png") no-repeat center center;
    height: 18px;
    width: 16px;
    content: counter(test, decimal) "";
    /*counter-increment: test;*/
    left: -8px;
    top: 17px;
    position: absolute;
    text-indent: -9999px;
    z-index: 1;
}
li:first-child:before {
    display: none;
}
.nav li:after {
    background: #ffffff;
    content: "";
    display: block;
    height: 100%;
    left: -1px;
    position: absolute;
    top: 1px;
    width: 2px;
}
li:first-child:after {
    display: none;
}
.nav li {
    position: relative;
    display: table-cell;
    margin: 0;
    background: #ff8800;
    text-align: center;
    width: 243px;
    height: 52px;
    border-radius: 6px;
}
.nav li:hover {
    background: #a89284;
}

/*slider style*/
.wrapper-slider {
    position: relative;
    background: url(../img/bg.png) no-repeat center center;
    width: 100%;
    height: 347px;
    background-size: cover;
}
.ribbon {
    background: url(../img/ribbon.png) no-repeat center center;
    width: 824px;
    height: 84px;
    text-align: center;
    font: 22px 'Open Sans',Arial,sans-serif;
    color: #ffffff;
    position: absolute;
    top: -41px;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 45px;
}
.ribbon span {
    font-weight: 700;
}
.apply {
    width: 245px;
    height: 245px;
    /*background:("../img/apply-bg.jpg") no-repeat center center;*/
    border-radius: 4px;
    background: #f2f2f2;
    border: 4px solid #ccc;
    margin: 55px 0 0 0;
    float: right;
    text-align: center;
}
.apply h2 {
    font: 20px 'Open Sans',Arial,sans-serif;
    color: #333333;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 20px 0 0 0;
}
.apply p {
    font: 13px 'Open Sans',Arial,sans-serif;
    color: #333333;
}
.apply span {
    color: #ff7633;
    font-weight: 700;
}
.apply-btn {
    outline: none;
    border: none;
    margin: 20px 0 0 0;
    width: 204px;
    height: 53px;
    color: #f5f7f7;
    font: 700 18px 'Open Sans',Arial,sans-serif;
    text-shadow: 1px 1px 1px #e66b2e;
    cursor: pointer;
    background: #ff8933;
    background: -moz-linear-gradient(top, #ff8933 0%, #ff6633 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8933), color-stop(100%,#ff6633));
    background: -webkit-linear-gradient(top, #ff8933 0%,#ff6633 100%);
    background: -o-linear-gradient(top, #ff8933 0%,#ff6633 100%);
    background: -ms-linear-gradient(top, #ff8933 0%,#ff6633 100%);
    background: linear-gradient(to bottom, #ff8933 0%,#ff6633 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8933', endColorstr='#ff6633',GradientType=0 );
    -moz-box-shadow: 0 3px 0 0 #da5700;
    -webkit-box-shadow: 0 3px 0 0 #da5700;
    box-shadow: 0 3px 0 0 #da5700;
    border-radius: 4px;
}
.apply-btn:hover {
    background: #fd9243;
}
.apply-btn:active {
    box-shadow: none;
    margin: 23px 0 0 0;
}

/*CONTENT*/
.wrapper-container, .reviews-container, .vantage {
    margin: 0 auto;
    width: 1000px;
    /*height: 800px;*/
}
/*slider partners*/

.slider1 {
    background: url("../img/main-sprite.png") no-repeat top left;
    background-position: 0 -100px;
    display: block;
    width: 88px;
    height: 90px;
    cursor: pointer;
}
.slider1:hover {
    background-position: -1951px 0;
}
.slider2 {
    background: url("../img/main-sprite.png") no-repeat top left;
    background-position: -540px 0;
    display: block;
    width: 60px;
    height: 71px;
    cursor: pointer;
}
.slider2:hover {
    background-position: -470px 0;
}
.slider3 {
    background: url("../img/main-sprite.png") no-repeat top left;
    background-position: -389px 0;
    display: block;
    width: 71px;
    height: 71px;
    cursor: pointer;
}
.slider3:hover {
    background-position: -308px 0;
}
.slider4 {
    background: url("../img/main-sprite.png") no-repeat top left;
    background-position: -197px -100px;
    display: block;
    width: 89px;
    height: 52px;
    cursor: pointer;
}
.slider4:hover {
    background-position: -98px -100px;
}
.slider5 {
    background: url("../img/main-sprite.png") no-repeat top left;
    background-position: -559px -100px;
    display: block;
    width: 77px;
    height: 75px;
    cursor: pointer;
}
.slider5:hover {
    background-position: -472px -100px;
}
.slider6 {
    background: url("../img/main-sprite.png") no-repeat top left;
    background-position: -1853px 0;
    display: block;
    width: 88px;
    height: 68px;
    cursor: pointer;
}
.slider6:hover {
    background-position: -1755px 0;
}
/*Page2 styles*/
.technique {
    margin-top: 20px;
    text-align: center;
    color: #515151;
    font: 600 30px 'Open Sans',Arial,sans-serif;
}
.technique-block {
    margin: 0 auto;
    width: 1000px;
    height: 154px;
    background: #f5f5f5;
    border-radius: 5px;
}
.technique-list {
    margin: 40px auto;
    width: 1000px;
}
.technique-list-text {
    margin: 20px 0 20px 0;
}
.technique-list-block {
    display: table;
    border-bottom: 1px solid #e2d8d1;
}
.technique-list-block:nth-of-type(3){
    border-bottom: none;
}.technique-list-block:nth-of-type(4){
    border-bottom: none;
}
.technique-img {
    width: 200px;
    height: 200px;
    display: table-cell;
    vertical-align: top;
    padding: 20px 30px 0 30px;
}
.block-bottom {
    height: 86px;
    width: 900px;
    margin: 20px 0  0;
    background: #f5f5f5;
    border-radius: 5px;
    display: table;
    text-align: center;
}
.block-bottom-img {
    width: 48px;
    height: 52px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 30px 0 110px;
}
.block-bottom-text  {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.block-bottom-text  > h3 {
    font: 600 25px 'Open Sans',Arial,sans-serif;
    color: #515151;
}
.block-bottom-text > h3 > span {
    color: #ff6600;
    text-transform: uppercase;
}
.technique-list-text > h3 {
    font: 600 20px 'Open Sans',Arial,sans-serif;
    color: #ff6600;
    text-transform: uppercase;
    height: 45px;
}
.technique-list-text > ul {
    list-style:  decimal;
    font-weight: 700;
    font-size: 18px;
    padding: 0 0 0 22px;
}
.technique-list-text > ul > li > span  {
    font: 14px 'Open Sans',Arial,sans-serif;
    color: #333333;
}
/*Page3 style*/
.reviews-results {
    margin-top: 20px;
    text-align: center;
    color: #515151;
    font: 30px 'Open Sans',Arial,sans-serif;
}
.technique-block {
    text-align: center;
}
.technique-block > h2 {
    font: 18px 'Open Sans',Arial,sans-serif;
    color: #515151;
    display: inline-block;
    margin: 20px 0 20px 0;
}
.technique-block > h2 > span {
    color: #ff6600;
    text-transform: uppercase;
    font-weight: 700;
}
.technique-block > p {
    font: 14px 'Open Sans',Arial,sans-serif;
    color: #515151;
}.technique-block > p > span {
    font-weight: 700;
}
.reviews-info-block {
    margin: 30px auto;
    width: 900px;
    height: 131px;
    background: #f5f5f5;
    border-radius: 5px;
    text-align: center;
}
.reviews-info-block > h2 {
    padding: 20px 0 0 0;
    font: 18px 'Open Sans',Arial,sans-serif;
    color: #515151;
}
.reviews-info-block >h2 > span {
   font: 700 20px 'Open Sans',Arial,sans-serif;
   color: #ff6600;
}
.reviews-info-block > p {
    font: 14px 'Open Sans',Arial,sans-serif;
    color: #515151;
    padding: 10px 40px 0 40px;
}
.reviewed {
    margin: 30px auto;
    width: 900px;
    height: 200px;
    /*background: #ccc;*/
}
.reviewed > h3 {
    font: 700 16px 'Open Sans',Arial,sans-serif;
    color: #515151;
    height: 50px;
}
.review-icon {
    width: 140px;
    height: 180px;
    /*background: green;*/
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    font: 700 12px 'Open Sans',Arial,sans-serif;
    color: #515151;
}

.review-content {
    position: relative;
    background: #fff;
    border: 1px solid #cfbbad;
    width: 739px;
    height: 116px;
    border-radius: 5px;
    display: inline-block;
    float: right;
}
.review-content:after, .review-content:before {
    right: 100%;
    top: 40%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.review-content:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 10px;
    margin-top: -31px;
}
.review-content:before {
    border-color: rgba(207, 187, 173, 0);
    border-right-color: #cfbbad;
    border-width: 12px;
    margin-top: -33px;
}
.review-content > p {
    font: italic 14px 'Open Sans',Arial,sans-serif;
    color: #515151;
    padding: 26px 50px 0 40px;
}

/*PAGE4 style*/
.vantage {
    margin-bottom: 80px;
}
.partners-block {
    margin: 0 auto;
    width: 1000px;
    height: 340px;
    background: #f5f5f5;
    border-radius: 5px;
}
.partners-text-block {
    text-align: center;
}
.partners-text-block > h2 {
    font: 20px 'Open Sans',Arial,sans-serif;
    color: #ff6600;
    padding: 20px 0 20px 0;
}
.partners-text-block > p {
    font: 14px 'Open Sans',Arial,sans-serif;
    color: #515151;
    padding: 0 0 15px 0;
}
.partners-block-bottom {
    width: 100%;
    display: table;
}
.partners-block1 {
    background: url("../img/partners-bg.png") no-repeat center center;
    width: 187px;
    height: 180px;
    font: 600 18px 'Open Sans',Arial,sans-serif;
    color: #ff6600;
    text-align:center;
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid #e2d8d1;
}
.partners-block1:last-child {
    border-right: none;
}
.partners-block1 > p {
    padding: 0 43px 0 43px;
}

.vantage-info-block {
    display: table;
    width: 100%;
    margin: 30px 0 0 0;
}
.vantage-text-block > h2 {
    font: 600 30px 'Open Sans',Arial,sans-serif;
    color: #515151;
    text-align: center;
    margin: 40px 0 0 0;
}
.info-block {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 176px;
    height: 140px;
    border-radius: 10px;
    background: #f9f9f9;
    margin-right: 27px;
    background: -moz-linear-gradient(top, #f9f9f9 0%, #e2e2e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e2e2e2));
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#e2e2e2 100%);
    background: -o-linear-gradient(top, #f9f9f9 0%,#e2e2e2 100%);
    background: -ms-linear-gradient(top, #f9f9f9 0%,#e2e2e2 100%);
    background: linear-gradient(to bottom, #f9f9f9 0%,#e2e2e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e2e2e2',GradientType=0 );
}
.info-block  > p {
    font: 13px 'Open Sans',Arial,sans-serif;
    color: #333333;
    padding: 10px 20px 0 20px;
    text-align: left;
}
.info-block:last-child > p {
    padding: 10px 35px 0 20px;
}
.info-block span {
    font-weight: 700;
}
.info-block:last-child {
    margin-right: 0;
}
.info-block:after {
    counter-increment: block;
    content: counter(block) "";
    position: absolute;
    font: 400 80px 'Open Sans',Arial,sans-serif;
    right: -20px;
    top: -25px;
    color: #ff6600;
}
.info-block span {
    font-weight: 700;
}

/*footer style*/

.cl:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
    line-height: 0;
}
.footer_wrap {
    width: 100%;
    height: 390px;
    background-color: #434343;
}
.footer {
    height: 390px;
    background: #ccc;
    margin: 0 auto;
    width: 1000px;
}
.footer_middle {
    margin: 0 auto;
    width: 1000px;
    height: 375px;
}
.footer1 {
    padding-top: 35px;
    padding-bottom: 0;
    width: 1000px;
    border-bottom: 1px solid #000;
}
.foot_block1 {
    float: left;
    margin-right: 220px;
    width: 173px;
    height: 115px;
}

.foot_block1 > p, .foot_block2 > p, .foot_block3 > p, .foot_block4 > span, .foot_block5 > span {
    display: inline-block;
    margin-bottom: 15px;
    color: #fff;
    font: bold 14px 'Open Sans',sans-serif;
}
.foot_block1 .foot_soc {
    float: left;
    margin: 5px 5px 0 0;
    width: 48px;
    height: 50px;
    background: url("../img/soc_block_sprites.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.foot_block1 .foot_soc.vk {
    background-position: 0 0;
}
.foot_block1 .foot_soc.vk:hover {
    background-position: 0 -60px;
}
.foot_block1 .foot_soc.facebook {
    background-position: -47px 0;
}
.foot_block1 .foot_soc.facebook:hover {
    background-position: -47px -60px;
}
.foot_block1 .foot_soc.twitter {
    background-position: -95px 0;
}
.foot_block1 .foot_soc.twitter:hover {
    background-position: -95px -60px;
}
.foot_block2 {
    float: left;
    margin-right: 133px;
    width: 315px;
    height: 115px;
}

.foot_block1 > p, .foot_block2 > p, .foot_block3 > p, .foot_block4 > span, .foot_block5 > span {
    display: inline-block;
    margin-bottom: 15px;
    color: #fff;
    font: bold 14px 'Open Sans',sans-serif;
}
.foot_block2 > ul > li, .foot_block2 > ul > li > a, .foot_block3 > ul > li > a {
    color: #ccc;
    font: 12px 'Open Sans',sans-serif;
}
.foot_block2 > ul > li, .foot_block3 > ul > li {
    float: left;
    padding-right: 15px;
    padding-bottom: 5px;
}
a:link, a:visited, ins {
    text-decoration: none;
}

.foot_block2 > ul > li > a:hover, .foot_block3 > ul > li > a:hover {
    color: #fff;
    text-decoration: none;
}
.foot_block2 .online_courses {
    visibility: hidden;
}

.foot_block3 {
    float: left;
    width: 155px;
    height: 115px;
}

.foot_block1 > p, .foot_block2 > p, .foot_block3 > p, .foot_block4 > span, .foot_block5 > span {
    display: inline-block;
    margin-bottom: 15px;
    color: #fff;
    font: bold 14px 'Open Sans',sans-serif;
}
.foot_block2 > ul > li, .foot_block3 > ul > li {
    float: left;
    padding-right: 15px;
    padding-bottom: 5px;
}
.foot_block3 li {
    width: 60px;
}
.footer2 {
    padding-top: 30px;
    width: 1000px;
}
.foot_block4 {
    float: left;
    width: 333px;
    height: 165px;
    margin-right: 58px;
}

.foot_block1 > p, .foot_block2 > p, .foot_block3 > p, .foot_block4 > span, .foot_block5 > span {
    display: inline-block;
    margin-bottom: 15px;
    color: #fff;
    font: bold 14px 'Open Sans',sans-serif;
}

.foot_block4 > ul > li.app {
    margin-bottom: 15px;
    width: 155px;
    background: url("../img/mobile_icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.foot_block4 > ul > li.app:hover {
    background: url("../img/mobile_icons.png") no-repeat scroll 0 -56px rgba(0, 0, 0, 0);
}
.foot_block4 > ul > li > a {
    display: block;
    margin-left: 32px;
    width: 110px;
    color: #ff9600;
    font: 10px 'Open Sans',sans-serif;
}
.foot_block4 > ul > li span {
    color: #999;
    font: 10px 'Open Sans',sans-serif;
}
.foot_block4 > ul > li:hover span {
    color: #ff9600 !important;
}
.foot_block4 > ul > li span > em {
    font: bold 13px 'Open Sans',sans-serif;
}
.foot_block4 > ul > li.android {
    margin-bottom: 25px;
    width: 155px;
    background: url("../img/mobile_icons.png") no-repeat scroll 0 -107px rgba(0, 0, 0, 0);
}
.foot_block4 > ul > li.android:hover {
    background: url("../img/mobile_icons.png") no-repeat scroll 0 -160px rgba(0, 0, 0, 0);
}
.foot_block4 > ul > li > a {
    display: block;
    margin-left: 32px;
    width: 110px;
    color: #ff9600;
    font: 10px 'Open Sans',sans-serif;
}

.foot_block4 > ul > li span {
    color: #999;
    font: 10px 'Open Sans',sans-serif;
}

.foot_block4 > ul > li span > em {
    font: bold 13px 'Open Sans',sans-serif;
}

.foot_block4 > p {
    color: #ccc;
}
.foot_block5 {
    float: left;
    margin-right: 15px;
    width: 440px;
    height: 184px;
}
.foot_block1 > p, .foot_block2 > p, .foot_block3 > p, .foot_block4 > span, .foot_block5 > span {
    display: inline-block;
    margin-bottom: 15px;
    color: #fff;
    font: bold 14px 'Open Sans',sans-serif;
}
.foot_block5 > p {
    color: #ccc;
    font: 12px 'Open Sans',sans-serif;
}
.foot_block5  span {
    font-weight: 700;
}

.foot_block6 {
    float: left;
    padding: 43px 0 37px;
    width: 130px;
    background: url("../img/top_foot_sprite.png") no-repeat scroll 5px 0 rgba(0, 0, 0, 0);
    text-align: center;
}
.foot_block6 a {
    color: #fff;
    font: bold 14px 'Open Sans',sans-serif;
}
.foot_block6 a:hover {
    color: #ff9600;
    text-decoration: none;
    font: bold 14px 'Open Sans',sans-serif;
}
.fixed_buttom_bg {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 7px;
    background: none repeat scroll 0 0 #f60;
}
#online_chat_button {
    cursor: pointer;
}
.fixed_buttom_block {
    position: fixed;
    right: 10%;
    bottom: 0;
    z-index: 10;
    width: 313px;
    height: 40px;
    background: url("../img/fixed_buttom_block_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}



/*new page review*/
.new-review {
    margin: 0 auto;
    width: 1000px;
    font: 600 30px 'Open Sans',sans-serif;
    color: #515151;
    text-align: center;
    height: 50px;
    line-height: 100px;
}
.motivation {
    margin: 0 auto;
    background: url("../img/motivation-gb.png") no-repeat center center;
    width: 960px;
    height: 271px;
    background-size: cover;
    border-radius: 5px;
    padding: 20px;
}
.motivation-slider-text {
    float: left;
    width: 773px;
}
.motivation-slider-image {
    background: url("../img/image-slider-frame.png") no-repeat center center;
    width: 187px;
    height: 177px;
    overflow: hidden;
    position: relative;
}
.slider-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 0;
    margin: auto;
}
.test-block {
    margin: 40px auto 40px;
    width: 1000px;
    height: 250px;
    background: #ccc;
}
.test-block2 {
    margin: 40px auto 40px;
    width: 1000px;
    height: 150px;
    background: #ccc;
}
.test-imgg {
    display: inline-block;
    position: relative;
}
.test-imgg:hover img {
    border: 1px solid;
    border-radius: 4px;
    background: url("../img/mii-active.png") no-repeat center center;
    background-position: 1px 2px;
    width: 100px;
    height: 138px;
    z-index: 100;
}